/* External Styling for index.html */

h2 {
    color:#8a2be2;  /* changes h2 to color blueviolet */
}

h3 {
    color:rgb(255, 70, 70); /* changes h3 to color red */
}

h4 {
    color:gray; /* changes h4 to color gray */
}

h5 {
    color:hsl(85, 100, 50); /* changes h5 to color lightgreen */
}

/* temp!! */